.header-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-links {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 100%;
    color: #000000B2;
    cursor: pointer;
}

.header-links:hover {
    color: #858383;
}

.header-cart-icon{
    font-size: 32px;
}
