.submit-button {
    border-radius: 9px;
    color: #fff;
    transition: all 0.3s ease;
    padding: 13px 26px;
    border: none;
    background-color: var(--background-color-second);
    width: 100%;
}

.submit-button:hover {
    background-color: var(--background-color-main);
    transition: all 0.3s ease;
}
