.categories-container {
    display: grid;
    text-align: center;
}

@media screen and (min-width: 1500px) {
    .categories-container {
        grid-template-columns: repeat(7, 150px);
    }

}

@media screen and (max-width: 1500px) {
    .categories-container {
        grid-template-columns: repeat(4, 150px);
    }

}

@media screen and (max-width: 768px) {
    .categories-container {
        grid-template-columns: repeat(3, 150px);
    }

}

@media screen and (max-width: 480px) {
    .categories-container {
        grid-template-columns: repeat(1, 150px);
    }
}