.books-container {
    display: grid;
    gap: 20px;
    text-align: center;
}

.clear-filters-btn {
    width: 180px;
    height: auto;
    padding: 10px;
    border: none;
    background: var(--background-color-second);
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 18px;
}

.clear-filters-btn:hover {
    background: var(--background-color-main);
}

@media screen and (min-width: 1500px) {
    .books-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .categories-container {
        grid-template-columns: repeat(7, 150px);
    }

}

@media screen and (max-width: 1500px) {
    .books-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .categories-container {
        grid-template-columns: repeat(4, 150px);
    }

}

@media screen and (max-width: 1024px) {
    .books-container {
        grid-template-columns: repeat(3, 0.5fr);
    }
}

@media screen and (max-width: 768px) {
    .books-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .categories-container {
        grid-template-columns: repeat(3, 150px);
    }

}

@media screen and (max-width: 480px) {
    .books-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .categories-container {
        grid-template-columns: repeat(1, 150px);
    }
}
