.categories {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px;
    font-size:large;
    padding-left: 150px;
}
.books {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: center;
}