.footer-logo {
    display: grid;
    justify-items: center;
}

.book-heaven-logo {
    width: 45px;
}
.language-selector{
  color: #e4e4e4;
  background: #1e1e1e;
  font-family: "Fira Code", Consolas, Monaco, monospace;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border: 1px solid #2d2d2d;
}