.comments-title {
    text-align: center;
    margin: 5px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
}

.comments-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.comments-image {
    border-radius: 50%;
}

.comments-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
