.title-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 800px;
    height: 100%;
    background-color: #FFC581;
    z-index: 0;
}

.title-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    min-height: 500px;
    padding: 0;
    width: 100%;
}

.title-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 600px;
    height: 100%;
    padding: 50px 100px;
}

.title-content-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 2;
}

.title-container-title {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0%;
}

.title-container-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.title-container-bottom {
    width: 100%;
    display: flex;
    gap: 5px;
}

.title-image {
    right: -80px;
    top: 50px;
    width: 570px;
    height: auto;
}